{% extends 'header_footer.html.twig' %}

{% block title %} Athletice Franchise {% endblock %}

{% block body %}
{% if app.user %}
    <link rel="stylesheet" href="{{asset('franchise.css')}}">
    <link rel="stylesheet" href="{{asset('Filtres.css')}}"> 

    {% if is_granted('ROLE_ADMIN') %}
        <h1 class="text-center franchise_title"> Nos Franchises </h1>

    {% else %}
            {% if app.user.franchisemains.isactive == true %}
                <h1 class="text-center franchise_title"> Bienvenue dans votre Franchise </h1>
            {% endif %}

            {% if app.user.franchisemains.isactive == false %}
                <h1 class="text-center franchise_title alert alert-danger"> Votre compte est désactivé </h1>
            {% endif %}
    {% endif %}


{% if is_granted('ROLE_ADMIN') %}

            <div class="main_filtres" style="margin-bottom:1%;">
                <div class="btn btn-info" id="all"> Tous </div>
                <div class="btn btn-info" id="contrat"> Nom / Contrat </div>
                <div class="btn btn-info" id="mail"> Email </div>
                <div class="btn btn-info" id="address"> Adresse </div>
            </div>

    {% for franchise in franchises %}
        <table class="table table-bordered table-dark text-center font_size_admin">
            <thead>
                <tr>
                    <th scope="col" class="contract">Nom</th>
                    <th scope="col" class="contract">Contrat</th>
                    <th scope="col" class="email">Email</th>
                    <th scope="col" class="adresse">Adresse</th>
                    <th scope="col">Actif / Contrat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contract"> {{franchise.user.name}} </td>
                    <td class="contract"> {{franchise.contrat}} </td>
                    <td class="email"> {{franchise.user.email}} </td>
                    <td class="adresse"> {{franchise.user.city}}</td>
                    <td> 
                        {% if franchise.isactive == false %} 
                                <a class="btn btn-danger button_font" href="{{ path('app_franchise_main_edit', {'id': franchise.id}) }}"> Désactivé </a> 
                        {% else %}
                                <a class="btn btn-success button_font" href="{{ path('app_franchise_main_edit', {'id': franchise.id}) }}"> Activé </a> 
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endif %}

{% if is_granted('ROLE_FRANCHISE') %}
{% if app.user.franchisemains.isactive == true %}

    <div class="text-center font_franchise_index">
        <span style="font-style: bold;"> {{app.user.name}}</span>
        <span style="font-style: bold;"> {{app.user.firstname}}</span>
    </div>
    <div class="text-center font_franchise_index">
        <span style="font-style: italic;"> Votre contrat de Franchise :  {{app.user.franchiseMains.contrat}}</span>
    </div>

    <div class="main_pub_franchise">
        <img class="text-center img_main_pub" src="{{ asset('Ressources/new.png') }}">
        <h4 class="pub_title"> Voici nos nouvelles boissons aromatisées ! </h4>
            <span class="txt_pub">Prenez les options de boissons pour les faire goûter à vos clients ! Saveurs revisitées, rafraichissantes et très protéinés, idéales 
                pour le sport.
            </span>

        <div class="text-center">
            <img class="img_boisson" src="{{ asset('Ressources/boisson1.png') }}">
            <img class="img_boisson" src="{{ asset('Ressources/boisson2.png') }}">
        </div>
    </div>

    <div class="main_pub_franchise">
        <h4 class="pub_title"> Voici nos nouvelles barres de céréales ! </h4>
            <span class="txt_pub"> Barres de céréales onctueuses et savoureuses remplies de protéines ! </span>
            <p style="font-style: italic;" class="txt_pub"> Obtenez une réduction de 50% si vous commandez nos barres. </p>

        <div class="text-center">
            <img class="img_boisson_cereales" src="{{ asset('Ressources/cereal_bar.png') }}">
        </div>
    </div>
    
{% endif %}
{% endif %}

<script src="{{asset('Filtres_Franchise.js')}}"></script>

{% endif %}
{% endblock %}
