{% extends 'header_footer.html.twig' %}

{% block title %} Athletice Structure {% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('Structure.css') }}">
    <link rel="stylesheet" href="{{asset('Filtres.css')}}"> 

    <h1 class="text-center font_title_structure"> Nos Structures </h1>

        <div class="main_filtres">
            <div class="btn btn-info" id="all"> Tous </div>
            <div class="btn btn-info" id="name"> Nom / Prénom </div>
            <div class="btn btn-info" id="mail"> Email </div>
            <div class="btn btn-info" id="option"> Adresse / Options </div>
        </div>

    {% for structure in structures %}
        <div style="margin-top: 3%;">
            <div class="text-center franchise_email">
                <h2> Le Franchisé : {{structure.franchisemain}} </h2>
            </div>

            <table class="table table-bordered table-dark text-center font_structure">
                <thead>
                    <tr>
                        <th scope="col" class="nom">Nom</th>
                        <th scope="col" class="nom">Prénom</th>
                        <th scope="col" class="email">Email</th>
                        <th scope="col" class="options">Adresse</th>
                        <th scope="col" class="options">Options Actif</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="nom"> {{structure.user.name}} </td>
                        <td class="nom"> {{structure.user.firstname}} </td>
                        <td class="email"> {{structure.user.email}} </td>
                        <td class="options"> {{structure.user.address}} à {{structure.user.city}}</td>
                        <td class="options">
                            {% for option in structure.options %}
                                {% if option.isactive == true %}
                                    {{option.NameOption}} | 
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="edit_structure">
                <span> Options de structure</span>
                {% if structure.isactive == false %} 
                        <a class="btn btn-danger font_button_active" href="{{ path('app_structure_main_edit', {'id': structure.id}) }}"> Désactivé </a> 
                {% else %}
                        <a class="btn btn-success font_button_active" href="{{ path('app_structure_main_edit', {'id': structure.id}) }}"> Activé </a> 
                {% endif %}
            </div>
        </div>
    {% endfor %}

<script src="{{asset('Filtres_Structure.js')}}"></script>

{% endblock %}