{% extends 'base.html.twig' %}

{% block title %} Athletice Sports Connexion {% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('login.css')}}">
<link rel="stylesheet" href="{{asset('bootstrap/css/bootstraps.css')}}">

<div class="flex_main">
    <img class="main_img" src="{{ asset('Ressources/background_accueil.png') }}">

    <form method="post" class="position_change">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 text_change">
                Vous êtes identifié comme {{ app.user.userIdentifier }}, <a class="text_change" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <div class="font_login">
            <label class="text_change" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
        
        <div class="font_login">
            <label class="text_change" for="inputPassword">Mot de Passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
        
        <div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary text_change" style="margin-top:5%;" type="submit">
            Connexion
        </button>

        <div style="margin-top: 5%;">
            <a style="text-decoration: none;" class="btn btn-light font_login " href="{{ path('app_contact') }}"> Demande de Franchise </a>
        </div>
    </form>
</div>
{% endblock %}
