{% extends 'header_footer.html.twig' %}

{% block title %} Athletice Utilisateurs {% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('user.css')}}">

    <h1 class="text-center"> Nos utilisateurs </h1>

    <table class="table text-center font-size-user" style="padding:1.5%;">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.city }}</td>
                <td class="adapting-button">
                    <a class="btn btn-info" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn btn-success" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" style="margin:0.5%; font-size:20px;" href="{{ path('app_register_admin') }}"> Créer un administrateur </a>
        <a class="btn btn-primary" style="margin:0.5%; font-size:20px;" href="{{ path('app_register_franchise') }}"> Créer une franchise </a>
        <a class="btn btn-primary" style="margin:0.5%; font-size:20px;" href="{{ path('app_register_structure') }}"> Créer une structure </a>

    </div>
{% endblock %}
