{% extends 'header_footer.html.twig' %}

{% block title %} Utilisateur {{user.firstname}} {{user.name}} {% endblock %}

{% block body %}

<!-- La page Show va être perçue différement selon le rôle du user connecté (établir les conditions et les différentes vues
selon les rôles) -->

<link rel="stylesheet" href="{{asset('User.css')}}">
<link rel="stylesheet" href="{{ asset('Structures.css') }}">

    {% if is_granted('ROLE_ADMIN') %}
    <div class="text-center ">
        <h1 class="title_font_show"> Utilisateur {{user.firstname}} {{user.name}} </h1>
    </div>
    {% endif %}

    {% if is_granted('ROLE_FRANCHISE') %}
    {% if user.franchiseMains.IsActive == true %}
        <h1 class="text-center font_title_structure"> Bienvenue dans vos Structures </h1>

    {% else %}
        <h1 class="text-center alert alert-danger"> Votre Compte franchise est désactivé </h1>

    {% endif %}
    {% endif %}

    {% if is_granted('ROLE_STRUCTURE') %}
    {% if user.StructureMains.IsActive == true %}
        <h1 class="text-center font_title_structure"> Bienvenue dans votre Structure </h1>

    {% else %}
        <h1 class="text-center alert alert-danger"> Votre Compte structure est désactivé </h1>

    {% endif %}
    {% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <table class="table font_size_user_show main_content_show">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Mot de Passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-dark button_show" href="{{ path('app_user_index') }}">Précédent</a>

        <a class="btn btn-success button_show" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
    </div>
    <div class="text-center" style="margin-top:0.3%;">
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endif %}


{% if is_granted('ROLE_FRANCHISE') %}
{% if user.franchiseMains.IsActive == true %}

    <div class="text-center font_title_franchise">
        <span> {{app.user.name}}</span>
        <span> {{app.user.firstname}}</span>
    </div>

    {% for structure in structures %}
    {% if user.franchiseMains.contrat == structure.FranchiseMain %}

        <table class="table table-bordered table-dark text-center franchise_structure">
            <thead>
                <tr>
                    <th style="color:#56b0ff;" scope="col">Email de votre structure </th>
                    <th style="color:#bc0000;" scope="col">Adresse de votre structure </th>
                    <th style="color:#00a241;" scope="col">Vos options pour cette structure</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{structure.user.email}} </td>
                    <td> {{structure.user.address}} à {{structure.user.city}} </td>
                    <td>            
                        {% for option in structure.options %}
                            {% if structure.options %}
                                {% if option.isactive == true %}
                                    {{option.NameOption}} | 
                                {% endif %}
                            {% endif %}
                        {% endfor %} 
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% endfor %}
{% endif %}
{% endif %}


{% if is_granted('ROLE_STRUCTURE') %}
{% if user.StructureMains.IsActive == true %}

<div class="font_structure_data">
    <div class="text-center">
        <span> {{user.name}}</span>
        <span> {{user.firstname}}</span>
    </div>
    <div class="text-center">
        <span> {{user.email}}</span>
    </div>
</div>

<div>
    <div class="text-center font_structure_data">
        <h3 style="text-decoration: underline;"> Vos options actives : </h3>
    </div>
    <div class="text-center font_structure_data">
        <span>
            {% for option in user.StructureMains.options %}
                    {% if option.isactive == true %}
                        {{option.NameOption}} | 
                    {% endif %}
            {% endfor %} 
        </span>
    </div>
</div>

    <div class="text-center">
        <div class="text-center">
            <img class="main_img_pub" style="border-radius:10%;" src="{{ asset('Ressources/pub_structure.png') }}">
        </div>
        <h4 class="title_pub"> Nouveauté d'option marketing : Livre de nutrition </h4>
            <span class="txt_pub"> Nous avons ajouté plusieurs livres de nutritions, nous avons sélectioné pour vous les meilleurs livres en terme d'alimentation.
                Vous pouvez dès maintenant vous les procurer si vous avez l'option marketing de livre spéciale nutrition. 
            </span>

        <div class="text-center">
            <img class="img_pub" src="{{ asset('Ressources/pub_livres.png') }}">
        </div>
    </div>

    <div class="text-center">
        <h4 class="title_pub"> Nous vous proposons du nouveau matériel de sport </h4>
            <span class="txt_pub"> Barre de traction, élastique, banc de gainage... nous mettons à disposition tout ce matériel que vous pouvez
                prendre pour vendre dans votre salle de sport.
            </span>
            <p style="font-style: italic;" class="txt_pub"> Si vous n'avez pas encore l'option matériel sportif, le premier mois nous
                vous le faisons à -50% !
            </p>

        <div class="text-center">
            <img class="img_pub" src="{{ asset('Ressources/pub_materiel.png') }}">
        </div>
    </div>
{% endif %}
{% endif %}

{% endblock %}