{% extends 'header_footer.html.twig' %}

{% block title %} Utilisateur {{user.firstname}} {{user.name}} {% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('users.css')}}">

<div class="text-center ">
    <h1 class="title_font_show"> Utilisateur {{user.firstname}} {{user.name}} </h1>
</div>
    <table class="table font_size_user_show main_content_show">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Mot de Passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-dark button_show" href="{{ path('app_user_index') }}">Précédent</a>

        <a class="btn btn-success button_show" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
    </div>
    <div class="text-center" style="margin-top:0.3%;">
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
