<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1> Demande de {{ contact.firstname }} {{ contact.name }}</h1>

        <p> Email : {{contact.email}} </p>
        <p> Sujet : {{contact.subject}} </p>
        <p> Message : {{contact.message}} </p>
    </body>
</html>